.movie-poster {
  width: 150px;
  width: 250px;
  padding: 3px;
}
.movie-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}
.movie-page-poster {
  max-height: 550px;
  max-width: 500px;
}
.movie-page-container {
  background-color: black;
  display: flex;
  padding: 3rem;
  padding-top: 2rem;
  margin: 0px;
  color: white;
  min-height: 100vh;
}
.loading{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  overflow-x: hidden;
}
